body {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  width: 360px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8b8b8;
}

h3 {
  margin-top: 0;
  font-size: 16px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff0033;
  color: #fff;
  border: 0;
  font: bold 14px;
}

#status {
  margin-top: 8px;
  font-size: 13px;
  color: #555;
}

#result {
  margin-top: 10px;
  font-size: 13px;
  white-space: pre-wrap;
  max-height: 400px;
  overflow-y: auto;
  border-top: 1px solid #ddd;
  padding-top: 8px;
}
